$indent: 16px;
$indent-line: 12px;
$font: Roboto, sans-serif;
$color-header: #2E465C;
$color-header-text: #fff;
$color-line: #999;

.App {
  position: relative;
  height: auto;

  &__header {
    width: 67px;
    height: 36px;
    border-radius: 2px;
    background-color: $color-header;

    &-text {
      font: 400 16px/19px $font;
      color: $color-header-text;
    }
  }

  &__content {
    position: relative;
    max-width: 1800px;
    width: 100%;
    padding-left: calc($indent + $indent-line + 10px);

    &-item {
      position: relative;

      &:first-child {
        margin-top: 17px;
      }

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    &-line {
      &-vertical {
        position: absolute;
        width: 2px;
        top: -18px;
        left: $indent-line;
        z-index: -1;
        background-color: $color-line;

        & + .App__content-item:last-child {
          margin-top: 17px;
        }
      }
      &-horizontal {
        position: absolute;
        height: 2px;
        width: 40px;
        z-index: -1;
        left: -26px;
        top: 18px;
        background-color: $color-line;
      }
    }
  }
}